[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
pydantic = "*"
pytype = "*"
pytest = "*"
gym = "*"

[dev-packages]

[requires]
python_version = "3.8"
