[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
pydantic = "*"
pytype = "*"
pytest = "*"
gym = "*"
wheel = "*"
twine = "*"
numpy = "*"
flake8 = "*"
black = "*"
pydocstyle = "*"
flake8-docstrings = "*"
flake8-mypy = "*"
isort = "*"
flake8-isort = "*"
flake8-print = "*"
tox = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
